<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings> 
		<add key="ConnCenter" value="Password=Youtube@#$2016;User ID=youtubevn;Initial Catalog=CMS_CENTER;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=30;Pooling=true" />
		
		<add key="ConnOnBox" value="Password=Youtube@#$2015;User ID=xemdi1122;Initial Catalog=WapMedia;Data Source=10.30.150.199;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		
		<add key="ConnOnBoxLog" value="Password=Youtube@#$2015;User ID=xemdi1122;Initial Catalog=LogXemdi;Data Source=10.30.150.199;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnBoxGate" value="Password=web1221123;User ID=web1221;Initial Catalog=SMSGATE;Data Source=10.58.82.114;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnBoxGatelog" value="Password=web1221123;User ID=web1221;Initial Catalog=SMSGATELOG;Data Source=10.58.82.114;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		
		
		<add key="ConnOnvideo" value="Password=Youtube@#$2016;User ID=onvideo;Initial Catalog=OnVideo;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnvideoLog" value="Password=Youtube@#$2016;User ID=onvideo;Initial Catalog=OnVideo_Log;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnvideoGate" value="Password=Youtube@#$2016;User ID=onvideo;Initial Catalog=SMSGATEOV;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnvideoGatelog" value="Password=Youtube@#$2016;User ID=onvideo;Initial Catalog=SMSGATEOV_LOG;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />


		<add key="ConnOnkid" value="Password=Youtube@#$2016;User ID=vtmedia;Initial Catalog=OnKid;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=30;Pooling=true" />
		<add key="ConnOnkidLog" value="Password=Youtube@#$2016;User ID=vtmedia;Initial Catalog=OnKid_Log;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnkidGate" value="Password=Youtube@#$2016;User ID=vtmedia;Initial Catalog=SMSGATEVT;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnkidGatelog" value="Password=Youtube@#$2016;User ID=vtmedia;Initial Catalog=SMSGATEVT_LOG;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />

		<add key="ConnOnradio" value="Password=Youtube@#$2016;User ID=vtmedia;Initial Catalog=OnRadio;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=30;Pooling=true" />
		<add key="ConnOnradioLog" value="Password=Youtube@#$2016;User ID=vtmedia;Initial Catalog=OnRadio_Log;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnradioGate" value="Password=Youtube@#$2016;User ID=vtmedia;Initial Catalog=SMSGATEVT;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnradioGatelog" value="Password=Youtube@#$2016;User ID=vtmedia;Initial Catalog=SMSGATEVT_LOG;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />

		
		
		<add key="ConnOnPhim" value="Password=Youtube@#$2016;User ID=youtubevn;Initial Catalog=OnboxPhim;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=30;Pooling=true" />
		<add key="ConnOnPhimLog" value="Password=Youtube@#$2016;User ID=youtubevn;Initial Catalog=OnboxPhim_Log;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnPhimGate" value="Password=Youtube@#$2016;User ID=youtubevn;Initial Catalog=SMSGATE;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />
		<add key="ConnOnPhimGatelog" value="Password=Youtube@#$2016;User ID=youtubevn;Initial Catalog=SMSGATELOG;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=300;Pooling=true" />

	
    <add key="sWebRoot" value="http://10.60.106.118:8088/cmsonkeeng/" />
	<add key="domain" value=".vip.xemdi.vn"/>
    <add key="BackHome" value="login.aspx" />
    <add key="ContentLength" value="1020400000" />
	
	<add key="FilmDBPath" value="E:\onkeeng\mp4\"/>
	<add key="FilmPhotoDBPath" value="E:\onkeeng\images\"/>
	
    <add key="VideoDBPath" value="E:\phimonbox\mp4\" />
    <add key="IMAGE_VIDEO_Path" value="E:\phimonbox\images\" />
	
	<add key="VideoDBPath_OnVTV" value="E:\onvtv\mp4\" />
    <add key="IMAGE_VIDEO_Path_OnVTV" value="E:\onvtv\images\" />
	
	<add key="VideoDBPath_Onradio" value="E:\onradio\mp3\"/>
	<add key="IMAGE_VIDEO_Path_Onradio" value="E:\onradio\images\mp3\"/>

	<add key="VideoMp4DBPathPlay_Onradio" value="http://10.60.106.115:9191/onradio/mp3/" />
	<add key="VideoDBPathPlay_Onradio" value="http://203.190.170.44:8080/onradio/images/mp3/" />

	<add key="VideoDBPath_Onkid" value="E:\onkid\mp4\"/>
	<add key="IMAGE_VIDEO_Path_Onkid" value="E:\onkid\images\"/>

	<add key="VideoMp4DBPathPlay_Onkid" value="http://10.60.106.115:9191/onkid/mp4/" />
	<add key="VideoDBPathPlay_Onkid" value="http://203.190.170.44:8080/onkid/images/" />

	
	<add key="VideoDBPath_Onvideo" value="E:\onvideo\mp4\"/>
	<add key="IMAGE_VIDEO_Path_Onvideo" value="E:\onvideo\images\"/>

	<add key="VideoMp4DBPathPlay_Onvideo" value="http://10.60.106.115:9191/onvideo/mp4/" />
	<add key="VideoDBPathPlay_Onvideo" value="http://203.190.170.44:8080/onvideo/images/" />
	
	
	
    <add key="VideoMp4DBPathPlay" value="http://125.212.204.106:8080/mp4/" />
    <add key="VideoDBPathPlay" value="http://125.212.204.106:8080/images/" />	
	
    <add key="ImageVideoPath_Chanel" value="D:\DATA\DB\images\chanels\" />
    <add key="ImageVideoUrl_Chanel" value="http://125.212.192.172:8080/images/chanels/" />
	
    <add key="ImageVideoUrl_Chanel_Banner" value="http://125.212.192.172:8080/images/chanels/banner/" />
    <add key="ImageVideoPath_Chanel_Banner" value="D:\DATA\DB\images\chanels/banner/" />
 
    <add key="ImageVideoPath_Playlist" value="D:\DATA\DB\images\playlists\" />
    <add key="ImageVideoUrl_Playlist" value="http://125.212.192.172:8080/images/playlists/" />

    <add key="Image_Categories" value="D:\DATA\DB\images\categories\" />
    <add key="ImageUrl_Categories" value="http://125.212.192.172:8080/images/categories/" />

    <add key="ImageVideoPath_Account" value="D:\DATA\DB\images\acounts\" />
    <add key="ImageVideoUrl_Account" value="http://125.212.192.172:8080/images/acounts/" />

    <!--config for system -->
    <add key="mdAddress" value="http://192.168.228.100:7778/sendMT.asmx" />
    <add key="mdAdmin" value="sms" />
    <add key="mdPass" value="sms123#$" />
    <add key="wsAdmin" value="admin" />
    <add key="wsPass" value="admin" />
    <add key="wsPhoneViettel" value="98,97,168,169,164,165,166,167,163" />
    <add key="wsPhoneExt" value="8498,8497,84163,84164,84165,84166,84167,84168,84169" />
    <add key="wsSyntaxMO" value="Exec dbo.Insert_SMO 'TLC_7x00','{0}','{1}','{2}','{3}'" />
    <add key="mdRBTCmd" value="SPAM" />
    <add key="mdCpCode" value="0" />
  </appSettings>
  <system.web>  
  
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
		  <add key="MailFromName" value="mail@viettel.com.vn" />
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <pages validateRequest="false" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <!--<httpModules>
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf" />
    </httpModules>-->
    <compilation defaultLanguage="c#" debug="true">
      <!--<compilers>
        <compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE" />
      </compilers>-->
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR ItemGames
          Set customErrors mode="On" or "RemoteOnly" to enable custom error ItemGames, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) ItemGames.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) ItemGames only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="100" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState cookieless="false" mode="StateServer" timeout="180" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" />-->

    <httpRuntime executionTimeout="4800" maxRequestLength="307200" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
	
		<!--<identity impersonate="false" />-->
		
        	<identity impersonate="true"  userName="vt_media" 
          password="Vtm3dvnaoT#@1518" />
		
    
	</system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
    <system.webServer>

	<security>
        <requestFiltering>
			<requestLimits maxAllowedContentLength="3072000000" />
        </requestFiltering>
	</security>


      
	<defaultDocument>
		<files>
			<add value="login.aspx" />
		</files>
        </defaultDocument>
        <handlers>
            <remove name="TRACEVerbHandler" />
            <remove name="OPTIONSVerbHandler" />
        </handlers>
    </system.webServer>
</configuration>